h1
{
	font-family: sans-serif;
}
li
{
	font-family: monospace;
}
body
{
	width: 50%;
	margin: auto;
}
.textoRodape
{
	background-color: grey;
	border-radius: 6px 22px;
	color: #f1f1f1;
	display: inline-block;
	font-size: 14px;
	letter-spacing: 0.5px;
	margin-top: 64px;
	padding: 12px 32px 16px;
}